<form class="form-horizontal" name="eventForm">
  <div class="modal-header">
    <button class="close" type="button" ng-click="cancel(eventForm)">×</button>
    <h4 class="uppercase">Запланировать процедуру</h4>
  </div>
  <div class="modal-body">
    Планирование процедуры
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="save(eventForm)" value="Сохранить" />
    <button class="btn btn-warning" ng-click="cancel(eventForm)">Отменить</button>
  </div>
</form>
